@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rancho&display=swap');
/* font-family: 'Rancho', cursive; */

*{
    border: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

        /* Paleta de cores */

        --cor-1: #BB45D1;
        --cor-2: #9C48DB;
        --cor-3: #6F4BC4;
        --cor-4: #4D48DB;
        --cor-5: #3559D1;
}

.general-link a{
    color: var(--cor-1);
}