body {
  background-image: radial-gradient(circle, var(--cor-1) 10%, var(--cor-2) 100%);
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  font-size: 8rem;
  padding: 50px 0 25px 0;
  color: white;
  font-family: 'Rancho', cursive;
}

nav {
  text-align: justify;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  padding: 40px;
  max-width: 500px;
  margin: auto;
  background-color: white;
  border-radius: 20px;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}

ul {
  padding: 0;
}

li {
  text-align: center;
  margin-top: 20px;
}

a {
  background-color: var(--cor-2);
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: white;
  font-weight: 900;
  padding: 10px;
  border-radius: 25px;
  font-size: 1.75rem;
  display: block;
  margin: auto;
  max-width: 180px;
}

a:hover {
  background-color: var(--cor-3);
  box-shadow: 0 0 2px black;
}

footer {
  text-align: center;
  margin-top: 15px;
  color: white;
}
