

/* DIV PERFIL */

div#perfil{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 2px black;
    max-width: 350px;
    max-height: 640px;
    background-color: white;
    border-radius: 10px;
}

div#perfil h1{
    font-family: 'Rancho', cursive;
    margin: 10px 0px 10px 0px;
}

/* DIV CONTEUDO */

div#conteudo{
    box-shadow: 0px 0px 2px black;
    max-width: 750px;
    margin: auto;
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
}

div#conteudo h1, h3{
    text-align: center;
    font-family: 'Rancho', cursive;
}

div#conteudo p, a{
    margin: 5px 0px 5px 0px;
    text-align: justify;
}

/* CLASSES */

.link{
    text-align: center;
}

/* EXTRAS */

body{
    background-image: radial-gradient(circle, var(--cor-2) 10%, var(--cor-3) 100%);
}

img{
    box-shadow: 0px 0px 2px black;
}

h2{
    font-family: 'Rancho', cursive;
}

h3{
    font-size: 1.75em;
}

strong{
    color: var(--cor-2);
}