.about {
	z-index: 1;
	padding: 40px 0;
	gap: 30px;
  display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 750px;
	border-top: 1px solid var(--color-4);
	box-shadow: 0 -8px 15px -10px rgba(0, 0, 0, 0.2);
}

.about-img {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 0 90px 20px;
}

.about-img img {
	height: 300px;
}

.about-content {
	padding: 25px;
}

.about-content h1 {
	text-align: center;
	padding-bottom: 20px;
}

.about-paragraph {
	text-indent: 15px;
	padding-bottom: 10px;
	text-align: justify;
}

.about-content p {
  width: 500px;
}

@media screen and (max-width: 1024px) {
	.about {
		height: 650px;
	}

	.about-img {
		display: none;
	}

	.about-content p {
		width: 595px;
	}
}

@media screen and (max-width: 601px) {
	.about {
		height: 850px;
	}

	.about-content p {
		width: 355px;
	}
}