.about {
	padding: 40px 0;
  display: flex;
	border-bottom: 1px solid var(--color-1);
	height: 400px;
}

.about * {
  width: 50%;
}

.about-img {
	display: flex;
	justify-content: center;
	padding: 25px;
}

.about-content {
	padding: 25px;
}

.about-content h1 {
	text-align: center;
	width: 100%;
}

.about-content p {
  width: 100%;
}