:root {
  --color-1: #fffffe;
  --color-2: #2b2c34;
  --color-3: #6246ea;
  --color-4: #F2F2F2;
  --color-5: #e45858;
  
  --font-1: Share Tech Mono, monospace;
  --font-2: Ubuntu, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-1);
}

h1 {
  font-size: 2.5rem;
}


h1, h2, h3 {
  font-family: var(--font-1);
  color: var(--color-2);
}

p {
  font-size: 1.1rem;
  font-family: var(--font-2);
  color: var(--color-2);
}

a {
	color: var(--color-5);
}


.main {
  display: flex;
  flex-direction: column;
}
