:root {
  --color-1: black;
  --color-2: rgb(221, 221, 221);
  --color-3: grey;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
}

.hero {
  min-height: 100vh;
  position: relative;
  background-image: url("../images/placeHolder.png");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}
