.projects {
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid var(--color-1);
	text-align: center;
  background-color: var(--color-2);
}

.projects-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;
	padding: 20px;
}

.projects-container .project-card {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 195px;
	width: 345px;
}

.project-card img {
	height: 180px;
	width: 320px;
	transition: 0.4s;
	border: 1px solid var(--color-1);
}

.project-card img:hover {
	height: 195px;
	width: 345px;
}