.projects {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	border-bottom: 1px solid var(--color-4);
}

.projects-title {
	padding-bottom: 30px;
  width: 79%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.projects-title hr {
	height: 100%;
	width: 100%;
}

.projects-title h1 {
	font-size: 4rem;
	width: 80%;
}

.projects-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;
	padding-bottom: 30px;
}

.projects-container .project-card {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 195px;
	width: 345px;
}

.project-card img {
	height: 180px;
	width: 320px;
	transition: 0.4s;
	border: 1px solid var(--color-1);
}

.project-card img:hover {
	height: 195px;
	width: 345px;
}